#lineChart {
    width: 500px;
    height: 500px
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.cells path {
    fill: none;
    pointer-events: all;
}

.cells :hover circle {
    fill: red;
}
